<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <%- include('../partials/formulario'); %>
        <br>
        <hr>
        <h2>CENTRO DE MENSAJES</h2>
        <%- include('../partials/mensajes'); %>

        <h2>TABLA DE TODOS LOS PRODUCTOS</h2>
        <%- include('../partials/table'); %>
        <br>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>